<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huang.pmdroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ScanningActivity">
        </activity>

        <activity android:name=".RecordActivity">
        </activity>
        <activity android:name=".WhiteListActivity">
        </activity>


        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="拦截应用间通信"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>

        <service android:name=".services.MonitorService">

        </service>

        <receiver android:name=".BroadcastTest">
            <intent-filter>
                <action android:name="com.huang.pmdroid.getData"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
